@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

/* 크롬, 사파리, 엣지 */
::-webkit-scrollbar {
  display: none;
}

/* 파이어폭스 */
html {
  scrollbar-width: none;
}

/* IE, Edge 구버전 */
body {
  -ms-overflow-style: none;
}

.title {
  margin-top: 120.5px;
  margin-left: 19.5px;
  font-family: Pretendard;
  font-weight: 600; /* SemiBold weight */
  font-size: 18px;
  line-height: 150%; /* 1.5배 */
  letter-spacing: -1.9%;
}

.party-block {
  margin-bottom: 25px;
}

.party-img-wrap {
  position: relative;
  margin-top: 19.5px;
  margin-left: 19.5px;
  width: 354px;
  height: 251px;
}


.party-img {
  width: 354px;
  height: 251px;
  border-radius: 8px;
}

.location-badge {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 50px;
  padding: 4px 10px;
}

.location-badge img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.location-badge span {
  margin-top: 4px;
  margin-right: 6px;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  color: black;
}


.partyName {
  margin-top: 10px;
  margin-left: 19.5px;
  font-family: Pretendard;
  font-weight: 600; /* SemiBold weight */
  font-size: 18px;
  line-height: 150%; /* 1.5배 */
  letter-spacing: -1.9%;
}

.date {
  margin-top: 13px;
  margin-left: 19.5px;
  display: flex;
  align-items: center;
}

.dateText {
  margin-left: 10px;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1.9%;
  position: relative;
  top: 3px;

}

.person {
  margin-top: 13px;
  margin-left: 19.5px;
  display: flex;
  align-items: center;
}

.apply-btn {
  margin-top: 13px;
  margin-left: 19.5px;
  margin-bottom: 3px;
  width: 354px; /* Button width */
  height: 46px; /* Button height */
  background-color: #FF6B00; /* Button color */
  border-radius: 8px; /* Rounded corners */
  display: flex;
  align-items: center;
  justify-content: center;
}

.spaceExpansion {
  margin-top: 180px; /*아래로 끝까지 스크롤 해도 요소들이 다 보일 수 있도록 공간을 띄움*/
}


