@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.party-list { 
  list-style: none; 
  padding: 10px; 
  margin: 0; 
  display: grid; 
  gap: 12px; }

/* 전체 규격 */
.party-item{
  width: 100%;
  height: 146px;
  box-sizing: border-box;

  display: flex;
  /* align-items: space-between; */
  justify-content: space-between;
  gap: 12px;
}

/* 이미지 */
.party-item__image-wrap{
  position: relative;
  width: 145px;
  height: 146px;
  border-radius: 8px;   /* 테두리 둥글게 */
  overflow: hidden;     /* 넘어가는 부분 안보이게 */
}
.party-item__image{
  width:100%;
  height:100%;
  object-fit: cover;
}

/* 주당끼리 — H3 Regular */
.party-item__place-badge{
  position:absolute; 
  left:8px; top:8px;
  display:inline-flex; 
  align-items:center; 
  background:#FFFFFF;
  padding:4px 10px; 
  border-radius:50px;
  z-index:1;

  font-family: Pretendard;
  font-size:16px; 
  font-weight:400; 
  letter-spacing:-0.019em; 
  line-height:1.5;
  white-space:nowrap;
}
.party-item__place-icon-svg {
  background-image: url('../assets/location.svg');
  background-size: contain;      /* 컨테이너에 맞게 크기 조절 */
  background-repeat: no-repeat;  /* 이미지 반복 안 함 */
  width: 22px;                   /* 아이콘의 너비 */
  height: 22px;                  /* 아이콘의 높이 */
}

/* 오른쪽 정보 카드 */
.party-item__content{
  width: 203px;
  height: 140px;
  padding: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  box-sizing: border-box;
}

/* 유학생과_언어교류 */
.party-item__title{
  margin: 2px 0 4px;
  font-family: Pretendard;
  font-size: 18px; 
  font-weight: 600;
  letter-spacing: -0.019em; 
  line-height: 1.5;
}

/* 시간, 참여인원 — H3 Regular */
.party-item__meta{
  display:flex; 
  align-items:center; 
  gap:6px; 
  
  color: black;
  font-family: Pretendard;
  font-size:16px; 
  font-weight:400; 
  letter-spacing:-0.019em; 
  line-height:1.5;
}
.party-item__meta:nth-of-type(1) {
  margin-bottom: 5px;
}
.party-item__meta .material-icons-outlined {
  font-size: 22px; /* 아이콘 크기 조정 */
}


/* 상세보기 — H3 Semi Bold */
.party-item__button{
  margin-top: 6px;
  border: 0; 
  border-radius:8px; 
  padding:6px 10px;
  background:#FF2824; 
  height: 36px;
  width: 203px;

  color:#FFFFFF;
  font-family: Pretendard;
  font-size:16px; 
  font-weight:600; 
  letter-spacing:-0.019em; 
  line-height:1.5;
  width:100%;                  
}